*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white!important;
    background-color: black!important;
}
.nav{
    position: fixed!important;
    background-color: black!important;
    /* color: white!important; */
    /* margin-left: 25%; */
    width: 100%;
}

/* .navbar{
    position: fixed;
    border-radius: 25px;
    background-color: blue!important;
} */
#named{
    color: gold!important;
    /* background-clip: linear-gradient(to right, deeppink 45%, gold 70%, lightcoral 80%)!important; */
    font-weight: 800;
    margin-left: 50px!important;
}
.nav-item a:hover{
    background-color: red;
    border-radius: 10px;
}

.home,.abt,.cer,.con,.portfolio,.skills,.edu{
    min-height: 100vh;
}

.heading{
    text-align: center;
    color: red;
    /* margin: 0px 0px 75px; */
    padding: 75px 0px 50px;
}

/* home */

.home{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    gap: 100px;
    padding-top: 175px;
    /* background-color: bisque; */
}
.home img{
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin: 25px 25px 25px 200px;
}
.home section{
    margin: 100px 0px 0px;
}
.home h1{
    margin: 15px 0px 15px;
    color: red;
    /* animation-name: name;
    animation-duration: 2s;*/
} 
/* @keyframes name {
    0%{
        opacity: 0;
        transform: translateX(0%);
        
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
    
} */
.home button{
    padding: 10px 25px;
    border-radius: 10px;
    margin: 15px 0px 0px;
    border: none;
    background-color: greenyellow;
    color: blue;
    /* border: 2px solid red; */
    font-weight: 750;   
}
.home button:hover{
    background-color: white;
    border: 2px solid red;
    color: red;
    /* border: none; */
}

/* about me */

.about{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    padding: 0px 0px 0px 50px;
    /* background-color: aqua; */
}
.about h1{
    color: darkcyan;
}
.about img{
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin: 25px 25px 25px 100px;
}
.about section{
    margin: 50px 25px 25px 150px;
}
.about p{
    line-height: 30px;
}
.about button{
    padding: 10px 25px;
    border-radius: 10px;
    margin: 15px 0px 0px;
    border: none;
    background-color: greenyellow;
    color: blue;
    font-weight: 750;
}
.about button:hover{
    background-color: white;
    border: 2px solid red;
    color: red;
}

/* education */
.edu{
    /* background-color: aquamarine; */
}
.education{
    display: flex;
    gap: 200px;
}
.education section{
    margin: 0px 0px 0px 150px;
}
/* .education ul{
    color: red;
} */
.education section ul li{
    margin: 0px 0px 50px;
}
.education section ul li p{
    font-weight: 300;
    font-size: 30px;
}

/* portfolio */
/* .portfolio{
    display: flex;
    flex-wrap: wrap; 
    padding-bottom: 50px;
    background-color: bisque;
} */
.portfolio section{
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* flex-wrap: wrap; */
    gap: 0px;
    /* background-color: bisque; */
    /* padding: 50px 0px; */
}
.portfolio img{
    margin-left: 25px;
    margin-top: 50px;
    width: 330px;
    height: 300px;
    border-radius: 20px;
    box-shadow: -2px 2px 5px white,2px -2px 5px white;
}
.portfolio img:hover{
    transition: all 2s;
    scale: 1.1;
    border: 5px solid red;
}

/* certificate */

/* .cer{
    background-color: lightcoral;
}
.certificate{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
} */

/* skills */
.skills .heading{
    /* background-color: lawngreen; */
    margin-top: 100px;
}
.skills h2{
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
}
.skills input[type="range"]{
    width: 75%;
    /* color: blue; */
    /* padding: 25px; */
}
.skills section{
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    margin: 0px 0px 0px 150px;
}
/* contact */
.con .heading{
    margin-top: 50px;
}
.contact{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    /* background-color: blanchedalmond; */
}
.contact form{
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 50px;
    margin: 25px 0px 0px 50px;
    /* box-shadow: 5px 5px 5px black; */
}
.contact form button{
    padding: 10px 25px;
    background-color: transparent;
    color: red;
    border: 2px solid red;
    border-radius: 10px;
}
::placeholder{
    color: white;
}
form input{
    margin: 0px 0px 25px 0px;
    width: 100%;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
}
form textarea{
    margin: 0px 0px 25px 0px;
    border-radius: 10px;
    padding: 5px 15px;
    border: none;
    resize: none;
    background-color: black;
    color: white;
}
form button:hover{
    background-color: red;
    color: white;
}
.contact section{
    margin: 100px 25px 0px 200px;
}
.contact section i{
    margin: 0px 25px 0px 0px;
}
.contact section h3{
    margin: 0px 0px 25px 0px;
}

@media screen and (min-width:320px) and (max-width:606px){
    #named{
        margin-left: 10px!important;
    }
    .home{
        padding: 25px;
        gap: 50px;
    }
    .home img{
        margin: 0px;
        width: 300px;
        height: 300px;
        margin-top: 50px;
    }
    .home section{
        margin: 0px 0px 0px 60px;
    }
    
    .about{
        gap: 50px;
    }
    .about section{
        margin: 0px;
        padding: 25px;
    }
    .about img{
        margin: 0px 0px 25px -40px;
        width: 300px;
        height: 300px;
    }

    .education{
        flex-direction: column;
        gap: 25px;
    }
    .education section{
        margin: 0px 0px 0px 25px;
    }
    .education img{
        width: 300px;
    }

    .skills section{
        grid-template-columns: auto;
        margin: 0px 0px 0px 50px;
        gap: 0px;
    }

    .portfolio{
        padding-bottom: 50px;
    }
    .portfolio section{
        grid-template-columns: auto;
        gap: 25px;
    }
    .portfolio img{
        width: 270px;
        height: 270px;
        margin: 10px 0px 0px 25px;
    }

    .contact{
        gap: 25px;
    }
    .contact form{
        width: 270px;
        margin: 0px 25px 25px 25px;
    }
    form textarea{
        width: 100%;
    }
    .contact section{
        margin: 0px 0px 0px 25px;
    }
}

@media screen and (min-width:606px) and (max-width:768px){
    
    .home{
        padding: 25px;
        gap: 50px;
        padding-top: 125px;
    }
    .home img{
        margin: 0px;
        width: 300px;
        height: 300px;
        margin-top: 60px;
    }
    .home section{
        margin: 100px 0px 0px 60px;
    }
    
    .about{
        gap: 50px;
    }
    .about section{
        margin: 0px;
        padding: 25px;
        margin: 0px 0px 0px 75px;
    }
    .about img{
        margin: 0px 0px 25px 125px;
        width: 400px;
        height: 400px;
    }

    .education{
        flex-direction: column;
        gap: 25px;
    }
    .education section{
        margin: 0px 0px 0px 125px;
    }
    .education img{
        width: 400px;
        margin: 0px 0px 0px 150px;
    }

    .skills section{
        grid-template-columns: auto;
        margin: 0px 0px 0px 100px;
        gap: 0px;
    }

    .portfolio{
        padding-bottom: 50px;
    }
    .portfolio section{
        grid-template-columns: auto auto;
        gap: 25px;
    }
    .portfolio img{
        width: 320px;
        height: 320px;
        margin: 10px 0px 0px 25px;
    }

    .contact{
        gap: 25px;
    }
    .contact form{
        width: 270px;
        margin: 0px 25px 25px 25px;
    }
    form textarea{
        width: 100%;
    }
    .contact section{
        margin: 0px 0px 0px 25px;
    }
}